<div class="creative-three">
    <div class="wrap">
        <div class="numbers">
            <ul>
                <li>
                    <p>500+</p>
                    <p>Calls Per Day</p>

                </li>
                <li>
                    <p>80%</p>
                    <p>Effeciency</p>
                </li>
                <li>
                    <p>10+</p>
                    <p>Languages spoken</p>
                </li>
                <li>
                    <p>90%</p>
                    <p>Countries served</p>
                </li>
            </ul>
        </div>
    </div>
</div>