<header>
    <div class="top">
        <div class="wrap">
            <div class="logo">
                <img src="images/logo.png" alt="logo" width="214" height="44" class="img-fluid d-none d-lg-block">
                <img src="images/logom.png" alt="logo" width="171" height="35" class="img-fluid d-lg-none">
            </div>
            <nav>
                <ul class="main-ul">
                    <li><a href="#">Home </a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

            <ul class="second-ul">
                <li class="first">
                    <a href="#"><img src="images/uk.png" alt="">EN</a>
                </li>
                <li class="last d-none d-lg-inline-block d-md-none">
                    <a href="#">Get a quote</a>
                </li>
            </ul>
            <div class="hamburger d-lg-none d-md-block">
                <span class="bar"></span>
            </div>
        </div>
    </div>
</header>