<div class="hero" style="background-image: url('images/hero.png')">
    <div class="wrap">
        <div class="inner-hero">
            <h2>The Smartest Way to <span>Engage & Convert</span> Your Leads</h2>
            <p>Relay Partner Solutions makes customer service better. We build software to meet customer needs, set your
                team up for success, and keep your business in sync.</p>
            <a href="#">Get a quote <i class="fa-solid fa-chevron-right"></i></a>

            <div class="wheel d-none d-lg-block">
                <img src="images/mouse.png" alt="" width="22" height="32" class="img-fluid">
                <div class="blob"></div>
            </div>
        </div>
        <div class="hero-item">
            <div class="items">
                <div class="content-items">
                    <img src="images/1.png" alt="">
                    <p>We focus on the big stuff</p>
                    <span class="d-none d-lg-block d-md-none">01</span>
                </div>
            </div>
            <div class="items">
                <div class="content-items">
                    <img src="images/2.png" alt="">
                    <p>24/7 Consultacy Availability</p>
                    <span class="d-none d-lg-block d-md-none">02</span>
                </div>
            </div>
            <div class="items">
                <div class="content-items">
                    <img src="images/3.png" alt="">
                    <p>Multi-language consultants</p>
                    <span class="d-none d-lg-block d-md-none">03</span>
                </div>
            </div>
            <div class="items">
                <div class="content-items">
                    <img src="images/4.png" alt="">
                    <p>Experienced & Qualified Staff</p>
                    <span class="d-none d-lg-block d-md-none">04</span>
                </div>
            </div>
        </div>
    </div>
    <div class="social d-none d-lg-block d-md-none">
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</div>