<div class="creative-four">
    <div class="relay">
        <ul>
            <li>
                <p>WHY CHOOSE US</p>
                <h3><span>Why</span> Relay Partner Solutioner Works?</h3>
                <p>We work to ensure that your business prospers and brings you sufficient profit</p>
                <p>We are a digitally enabled People as a Services Outsourcer focused on serving high growth, new
                    economy, market-disrupting, and technology companies to own interaction custody, complete complex
                    tasks, and grow their brands.</p>
            </li>
            <li>
                <img src="/images/img4.png" alt="img" class="img-fluid d-none d-md-block d-sm-none" width="1218"
                    height="837">
                <img src="/images/img4m.png" alt="img" class="img-fluid d-md-none d-sm-block">

            </li>
        </ul>
    </div>
</div>