<div class="creative-one" style="background-image: url('images/offer.png')">
    <div class="inner">
        <div class="items-photo">
            <img src="/images/group1.png" alt="" class="img-fluid">
            <div class="hello">
                <p>Hello!</p>
            </div>
        </div>
        <div class="items-text">
            <h2>Where good conversations become <span>great experiences</span></h2>
            <p>We offer Orchestrated Outbound that includes tech-enabled research, multi-channel prospecting, lead
                response, and our sales enablement platform to build your enterprise</p>
            <ul>
                <li>
                    <a href="#">24/7 Customer Support</a>
                </li>
                <li>
                    <a href="#">Digital Customer Experience</a>
                </li>
            </ul>
            <a href="#" class="second-btn">Get a quote<i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</div>