<div class="creative-two">


    <div class="wrap">
        <div class="text">
            <p>Our services</p>
            <h2>Modern, intelligent solutions for <span>powerful companies</span> </h2>
        </div>


        <!-- <div class="swiper-button-next next d-none d-lg-flex d-md-none"></div>
        <div class="swiper-button-prev prev d-none d-lg-flex d-md-none"></div> -->

    </div>


    <div class="swiper-container">
        <div class="swiper main">
            <div class="swiper-wrapper">
                <div class="cards swiper-slide">
                    <div class="items">
                        <ul>
                            <li class="photo"> <img src="images/income.png" alt="oncome" width="46" height="37"></li>
                            <li>
                                <h3>Inbound Call Center</h3>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </li>
                            <li>
                                <a href="#">Learn more</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cards swiper-slide">
                    <div class="items">asdasdad</div>
                </div>
                <div class="cards swiper-slide">
                    <div class="items">asdasdad</div>
                </div>

            </div>
        </div>
        <div class="swiper-button-next custom-next d-none d-lg-flex d-md-none"></div>
        <div class="swiper-button-prev custom-prev d-none d-lg-flex d-md-none"></div>
    </div>







































</div>