<div class="creative-one" style="background-image: url('images/offer.png')">
    <div class="inner">
        <div class="items-photo">
            <img src="images/group1.png" alt="group1" width="876" height="718" class="img-fluid">
            <div class="hello">
                <p>Hello!</p>
            </div>
            <img src="images/logo1.png" alt="logo1" width="64" height="18" class="img-fluid logo-one">
            <div class="logo-two">
                <img src="images/logo2.png" alt="logo1" width="47" height="39" class="img-fluid">
            </div>
            <div class="country">
                <ul>
                    <li><img src="images/c1.png" alt="uk" width="32" height="33" class="img-fluid"></li>
                    <li><img src="images/c2.png" alt="france" width="33" height="33" class="img-fluid"></li>
                    <li><img src="images/c3.png" alt="spain" width="33" height="33" class="img-fluid"></li>
                    <li class="last"> <img src="images/c4.png" alt="blank" width="32" height="33" class="img-fluid">
                        <span>+10</span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="items-text">
            <h2>Where good conversations become <span>great experiences</span></h2>
            <p>We offer Orchestrated Outbound that includes tech-enabled research, multi-channel prospecting, lead
                response, and our sales enablement platform to build your enterprise</p>
            <ul>
                <li>
                    <a href="#">24/7 Customer Support</a>
                </li>
                <li>
                    <a href="#">Digital Customer Experience</a>
                </li>
            </ul>
            <a href="#" class="second-btn">Get a quote<i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</div>