{% extends "partials/layout.html" %}


{% block content %}


<!-- Site Header -->
{% include "partials/creative/creative-navbar.html" %}

<main>
    <!-- Site Intro -->
    {% include "partials/creative/creative-hero.html" %}
    <!-- Site One -->
    {% include "partials/creative/creative-one.html" %}
    <!-- Site Two -->
    {% include "partials/creative/creative-two.html" %}
    <!-- Site Three -->
    {% include "partials/creative/creative-three.html" %}
</main>



<!-- Site Footer -->


{% endblock %}